<!-- <div class="header">
  <div class="header-cont">
    <a href="#default" class="logo">
      <img src="../../assets/images/icon16.png" alt="logo" class="logoimg">
    </a>
  </div>
</div> -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><span style="font-weight: 600;">Quick Profiles</span></a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Settings <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>