<div class="media-handles">
  <div style="display: flex; flex-direction: row;">
    <div style="flex: 3;">
        <img style="height: 18vh;" src="../../../assets/media-icons/facebook.webp" /> 
    </div>
    <div style="flex: 3;">
      <img style="height: 18vh;" src="../../../assets/media-icons/quora.png" />
    </div>
    <div style="flex: 3;">
      <img style="height: 18vh;" src="../../../assets/media-icons/twitter.png" />
    </div>
    <div style="flex: 3;">
      <img style="height: 18vh;" src="../../../assets/media-icons/github.svg" />
    </div>
    <div style="flex: 3;">
      <img style="height: 18vh;" src="../../../assets/media-icons/google_plus.png" />
    </div>
  </div>
</div>
